html,
body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}
.header {
  padding: 1rem;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
  position: relative;

  &__logo {
    text-align: center;
  }
}
.taillelogo {
  height: 2rem;
}

/*parite adress*/
.adress {
  display: flex;
  justify-content: center;
  padding: 1.25rem 1rem;
  background-color: #f3f3f3;
  font-size: 1.2rem;
}
.adress_icon {
  margin-right: 1rem;
}
.adress_text {
  font-weight: 500;
}
/*parie 1 text et btn*/
.p1 {
  padding: 2rem;
  text-align: center;
  background-color: #fafafa;

  &_titre {
    margin: 0;
  }
  &_text {
    font-weight: 300;
    margin: 1.5rem 0;
  }
  &_btn {
    border: 0;
    padding: 0.75rem 1.5rem;
    font-weight: 500;
    font-size: 1.1rem;
    border-radius: 100px;
    color: #fff;
    background-color: #686868;
    background-image: linear-gradient(
      0deg,
      rgba(147, 86, 220, 0.9),
      rgba(255, 121, 218, 0.9)
    );
    cursor: pointer;
    transition-duration: 0.25s;
    box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.25);
  }
}

/*partie choix*/

.choix {
  padding: 2rem;

  &_title {
    margin-top: 0;
  }

  &_steps {
    margin: 0;
    padding: 0;
    list-style: none;
    counter-reset: compteListe;

    @media (min-width: 64rem) {
      display: flex;
    }
  }

  &_step {
    padding: 1.5rem;
    margin: 1rem 0 1rem 1rem;
    box-shadow: 0.1rem 0.1rem 0.06rem black;
    border-radius: 1.5rem;
    background-color: #f6f6f6;
    flex: 1;
    display: flex;
    position: relative;
    &::before {
      counter-increment: compteListe 1;
      content: counter(compteListe) " ";
      background: #9356dc;
      height: 1.5rem;
      width: 1.5rem;
      border-radius: 100px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #fff;
      position: absolute;
      left: -0.75rem;
    }
  }

  &_icon {
    margin-right: 1rem;
    color: #7e7e7e;
  }
}
/*patie3 images*/
.bloc_img {
  background-color: #f6f6f6;
  padding: 2rem 1rem;
}
.cartes {
  display: grid;
  column-gap: 2rem;
  row-gap: 2rem;
  @media (min-width: 64rem) {
    grid-template-columns: repeat(2, 1fr);
  }
}
.carte {
  background-color: #fff;
  border-radius: 1rem;
  position: relative;
  text-decoration: none;
  color: inherit;

  &__img {
    height: 12rem;
    width: 100%;
    border: 0 solid transparent;
    border-radius: 1rem 1rem 0 0;
    box-shadow: none;
    object-fit: cover;
  }
  &__badge {
    background-color: #07f8bb;
    color: #1f8267;
    padding: 0.4rem;
    border-radius: 0.2rem;
    position: absolute;
    top: 1rem;
    right: 0.7rem;
  }
  &__footer {
    padding: 1rem;
    display: flex;
    align-items: center;
  }
  &__content {
    flex: 1;
  }
}
