body,
html {
  margin: 0;
  font-family: "Roboto", sans-serif;
}
.header {
  padding: 1rem;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
  position: relative;
  z-index: 1000;
  &__logo {
    font-family: "Shrikhand", "cursive";
    margin: 0;
    text-align: center;
  }
}
.footer {
  background-color: #353535;

  &__contenu {
    display: flex;
    flex-direction: column;
    margin-left: 1.5rem;
  }

  &__logo {
    color: white;
    font-family: "Shrikhand", "cursive";
    margin: 0;
    font-size: 1.2rem;
  }

  &__list {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  &__link {
    color: white;
    text-decoration: none;
  }
    &:hover {
      text-decoration: underline;
    }
  

  &__icon {
    width: 1.2rem;
    margin-right: 0.5rem;}}
  .postion{
    position:relative;
}
.likefas {
  opacity: 0;
  position: absolute;
  left: 0;
  &:hover {
    opacity: 1;
    transition: all 0.2s ease-in-out;
    background: linear-gradient(
      0deg,
      rgba(147, 86, 220, 0.9),
      rgba(255, 121, 218, 0.9)
    );
  -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
.likefar {
  opacity: 1;
  transition: all 0.2s ease;
  &:hover {
    opacity: 1;
  }
}
.btn {
  border: 0;
  padding: 0.75rem 1.5rem;
  font-weight: 500;
  font-size: 1.1rem;
  border-radius: 100px;
  color: #fff;
  background-color: #686868;
  background-image: linear-gradient(
    0deg,
    rgba(147, 86, 220, 0.9),
    rgba(255, 121, 218, 0.9)
  );
  cursor: pointer;
  box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.25);
  &:hover {
    background-color: #f6f6f6;
    scale: 1;
    transition-duration: 0.25s;
    box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.51);
  
  }
}
